
{{>navbar}}
<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupTitle">{{formtype}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="accountAuthUsername">Username</label>
            <input type="text" class="form-control" id="usernameText" placeholder={{placeholderUsername}}>
          </div>
          <div class="form-group">
            <label for="accountAuthPassword">Password</label>
            <input type="password" class="form-control" id="passwordText" placeholder={{placeholderPassword}}>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info" id="submitBtn">{{formtype}}</button>
      </div>
    </div>
  </div>
</div>