
{{>navbar articlesClass='active'}}

<div class="container">
    <div class="articles">
      <div class="content">
        <div class="articleHeading">
          <h3>The man{{title}}</h3>
          <h6>Author: {{user_id}}</h6>
        </div>
        <div class="content-body">
          <h6 class="category">Tech  {{category}}</h6>
          <p id="articleText">The content goes here tirjtirtjrr itrkgnfig fsigs vso  skngsd gds dskgndsgdsgefetee gefemewitf,erekff efiejffmokoepfjenec kfoeffkoekaofkoefjfmfoekf fekfapfla apfkadpfkalf,s fpfapfkaf afpsfpf-sgrg[r=ffnif pglpfsdkofdsjifsd dvdkmfdf ,dk</p>
        </div>
      </div>
    </div>
</div>