
{{>navbar this}}
<div class="container">
  {{#if editor}}
  <a href="/create" class="btn btn-info create" role="button">Create an Article</a>
  {{/if}}
  <div class="articles">
    <div class="content">
      <div class="header">
        {{#if editor}}
        <h5 class="article-heading">My Posts</h5>
        {{else}}
        <h5 class="article-heading">Articles</h5>
        {{/if}}
      </div>
      <div class="content-body">
        <div>
          <div class="content">
            <div class="article-heading">
              <h5 class="title" id="articleTitle">{{title}}</h5>
              {{#if editor}}
              <div class="postsActionBtns">
                <a href="#" class="postActionImgs"><img src="/assets/images/pencil.png" alt="edit"></a>
                <a href="#" class="postActionImgs"><img src="/assets/images/redX.png" alt="delete"></a>
              </div>
              {{/if}}
              <h6>Author: {{user_id}}</h6>
            </div>
            <div class="content-body">
              <button type="button" class="btn btn-info articleBtn article">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>