
{{>navbar this}}
<div class="container">
    <div class="articles">
      <div class="content">
        <div class="article">
          <div class="articleHeading">
          <h3 id="articleTitle" class="center">{{title}}</h3>
          <h6>Author: {{user}}</h6>
          <h6>Category: {{category}}</h6>
        </div>
        <div class="content-body">
          <p >{{content}}</p>
        </div>
        </div>
      </div>
    </div>
</div>