
{{>navbar this}}
<div class="container">
    <div class="articles">
      <div class="content">
        <div class="articleHeading">
          <h3>{{title}}</h3>
          <h6>Author: {{user_id}}</h6>
        </div>
        <div class="content-body">
          <h6 class="category">{{category}}</h6>
          <p id="articleText"></p>
        </div>
      </div>
    </div>
</div>