
{{>navbar this}}
<div class="container">
    <div class="articles">
      <div class="content">
        <div class="articleHeading">
          <h3 class="center">{{title}}</h3>
          <h6 class="center">Author: {{user}}</h6>
        </div>
        <div class="content-body">
          <h6 class="center">Category: {{category}}</h6>
          <p id="articleText">{{content}}</p>
        </div>
      </div>
    </div>
</div>