
{{>navbar articlesClass='active'}}
<div class="container">
  <div class="articles">
    <div class="content">
      <div class="header">
        {{#if login}}
        <h5 class="article-heading">My Posts</h5>
        {{else}}
        <h5 class="article-heading">Articles</h5>
        {{/if}}
      </div>
      <div class="content-body">
        <div>
          <div class="content">
            <div class="article-heading">
              <h5 id="articleTitle">Taco{{title}}</h5>
              {{#if login}}
              <div class="postsActionBtns">
                <a href="#" class="postActionImgs"><img src="/assets/images/pencil.png" alt="edit"></a>
                <a href="#" class="postActionImgs"><img src="/assets/images/redX.png" alt="delete"></a>
              </div>
              {{/if}}
              <h6>Author: Tom{{user_id}}</h6>
            </div>
            <div class="content-body">
              <a href="/article" class="btn btn-info articleBtn" role="button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>