
{{>navbar this}}
<div id="top">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit</h5>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control titleText" value="{{title}}">
            <label>Category</label>
            <input type="text" class="form-control catagoryText" value="{{category}}">
            <label>Article Body</label>
            <textarea rows="6" cols="62" id="articleBody">{{content}}</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info articleSubmitBtn">Submit Changes</button>
      </div>
    </div>
  </div>
</div>