
{{>navbar this}}
<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Morning Post</h1>
    <p class="lead">Stories to wake up to</p>
  </div>
</div>

<div class="container">
  {{#each articles}}
  <div class="card" style="width: 18rem;">
    <div class="card-header">{{title}}</div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Author: {{userid}}</h6>
    <p class="card-text">{{articleSummary}}</p>
    <a href={{articleLink}} class="card-link">Read More</a>
  </div>
</div>
{{/each}}
</div>